body{
padding: 0;
margin: 0;
background-color: rgb(246, 246, 247);
}
nav{
display: flex;
justify-content: space-between;

line-height: 15px;
align-items: center;
background-color: black;
}
li{
list-style: none;
}
a{
text-decoration: none;
color: white;
}
.second{
display: flex;
justify-content: space-between;

}
.second li{
margin-right: 20px;
}
.forth{
display: flex;
margin-right: 20px;
}
.main{
height: 400px;
width:880px;
background-color: rgb(222, 224, 227);
margin-left: 70px;
margin-top: 10px;
padding-bottom: 10px;

}
.main{
	padding: auto;
	box-sizing: border-box;
}
 .main  .child{
	padding:130px;
	margin-left: 140px;
}
.main .child1{
	margin-top: -160px;
	margin-left: 275px;
}
 .main .child2{
 	border-radius: 30px;
 	margin-left: 275px;
 	margin-top: -150px;

 }
 .c1{
 	background-color: rgb(230 231 231);
 	height:480px;
 	width: 200px;
 	margin-top: 10px;
 	box-sizing: border-box; 
 }
 .con1{
    margin-left: 40px;
    padding-top: 220px;
    font-size: 20px;
    color: yellow;
 }
 .v4{
 	background-color: rgb(198 63 43);
 	border-radius: 30px;
 	margin-left: 20px;
 	color:white;
 }
 .con5{
 	font-size: 8px;
 	color: white;
 	margin-left: 30px;
 	padding-top: -16px;
 }
 .c2{
 	background-color: rgb(255 255 255);
 	height:250px;
 	width: 500px;
 	margin-top: -480px;
 	position: absolute;
 	margin-left: 210px;
 }
 .c3{
 	background-color: rgb(230 231 231);
 	height:250px;
 	width: 200px;
 	margin-top: 10px;
 	position: absolute;
 	margin-left: 680px;
 	margin-top: -480px;
 }
 .c4{
 	background-color: rgb(230 231 231);
 	height:200px;
 	width: 200px;
 	margin-top: -200px;
 	margin-left: 210px;
 	box-sizing: border-box;
 }
 .c5{
 	background-color: rgb(230 231 231);
 	height:200px;
 	width: 460px;
 	margin-left: 420px;
 	margin-top: -219px;
 	box-sizing: border-box;
 	/*padding-top: 10px;*/
 }
.coffe{
	margin-left: 250px;
	padding-top: 60px;
}
.coffe1{
	margin-left: 270px;
	margin-top: -20px;
}
.coffe2{
	margin-left: 250px;
	margin-top: -13px;
	color: rgb(228 52 86);
}
.coffe3{
	background-color: black;
	color: white;
	border-radius: 30px;
	margin-left: 250px;
	margin-top: -20px;
}
.coffe4{
	height: 100px;
	width: 75px;
	background-color: white;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-left: 50px;
	box-sizing: border-box;
    
}
.coffe4 .dr{
	padding-top: 3px;
}
.coffe4 .fr{
	margin-top: -15px;
}
.coffe4 .er{
	margin-top: -15px;
}
.coffe5{
    margin-top: -15px;
    margin-left: 15px;
}
.coffe7{
	background-color: black;
	color:white;
	border-radius: 30px;
}

.tea{
	margin-top: -220px;
}
 .main2{
 	margin-top: 33px;
 	margin-left: 70px;
 }
  
 .ton{
 	padding-left: 70PX
 }
 .button{
 	border-radius: 30px;
 	background-color: yellow;
 	margin:200px;
 	margin-top: -90px;

 }
 .rr{
 	font-size: 25px;
 	margin-top: 200px;
 }
 .mm{
 	margin-top: -17px;
 	font-size: 6px;
 	padding-left: 40px;
 }
 .tt{
	  padding: 95px;
	  padding-left: 30px;
	  margin-top: -200px;

 }
 .button2{
 	background-color: rgb(255 255 255);
 	border-radius: 30px;
 	font-size: 12px;

 }
 .class{
 	height: 3px;
 	width: 150px;
 	background-color: rgb(226 36 39);
 	padding: auto;
 	margin: auto;
 }
 .child3{
 	height: 250px;
 	width: 150px;
 	background-color: rgb(255 255 255);
 	box-sizing: border-box;
 	margin: 5px;
 }
 .osk{
 	margin-top: 170px;
 }
.unknown{
	margin-top: 20px;
	display: flex;
	padding-left: 30px;
}
.unknown .child3{
	/*box-sizing: border-box;*/

}
.main4{
	height: 200px;
	width: 900px;
	background-color: rgb(44 46 47);
	margin:auto;
	padding: auto; 
	box-sizing: border-box;
}
 .child4{
	height: 10px;
	width: 10px;
	background-color: rgb(233 212 30);
	border-radius: 50%;

}
.button3{
	background-color: red;
	border-radius: 30px;
}
 .class2{
 	height: 300px;
 	width: 880px;
 	background-color: rgb(229 236 246);
 	/*padding-bottom: -30px;*/
 	margin-left: 70px;
 	box-sizing: border-box;
 	margin-top: 10px;
 	margin-bottom: 30px;

 
 }
 .child5 .aa{
 	font-size: 30px;
 	letter-spacing: -2px;
 }
 .child5 .bb{
 	margin-top: -20px;
 	color: rgb(152 152 152);
 }
 .child5 .cc{
 	color: rgb(152 152 152);
 }
 .nn{
 	color: rgb(152 152 152);
 	font-size: 10px;
 	margin :2px;
 }
 .child6{
 	letter-spacing: -2px;

 }
 
 .child6 .ss{
 	background-color: yellow;
 	border-radius: 30px;
 	margin-top: -20px;
 }
 .kk{
 	height: 200px;
 	width: 200px;
 	background-color:rgb(235 235 236); 
 	position: relative;
 	margin-left: 600px;
 	margin-top: -240PX; 
 }
 .child5{
 	margin-left: 70px;
 	margin-bottom: -10px;
 	padding-top: 5px;
 }
.pp{
 	margin-left: 30px;
 	/*margin-top: 30p*/

}
.child6{
	margin-left: 70px;
}
.child6 .uu{
	height: 10px;
	width: 10px;
	background-color: rgb(35 31 32);
	border-radius: 50%;
	margin-left: 640px;
    position: relative;

   

}
.child6 .oo{
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background-color: red;
	margin-left: 655px;
	margin-top: -10px;
    position: relative;



}
.child6 .qq{
	height: 10px;
	width: 10px;
	border-radius: 50%;
    background-color: rgb(53 82 165);
	margin-left: 670px;
    position: relative;
	margin-top: -10px;
}
.child6 .vv{
	height: 10px;
	width: 10px;
	border-radius: 50%;
    background-color: rgb(11 128 64);
	margin-left: 600px;
    position: relative;
	margin-left: 685px;
	margin-top: -10px;   
}
.child6 .zz{
	height: 10px;
	width: 10px;
	border-radius: 50%;
    background-color: rgb(111 112 111);
	margin-left: 600px;
    position: relative;
	margin-left: 700px;
	margin-top: -10px;
  
}
.class3{
	padding: 30px;
	letter-spacing: 1px;
	margin-left: 300px;
}
.important{
	margin-left: 40px;
	box-sizing: border-box;
}
.child7{
	height: 3px;
	width: 100px;
	padding:auto;
	margin-right:400px;
	background-color: red;
	margin-top: -10px;
}
.child8{
	height: 100px;
	width: 300px;
	background-color: rgb(255 255 255);
	margin: 10px;
}
.child9{
	height: 120px;
	width: 300px;
	background-color: rgb(255 255 255);
	margin: 10px;

}
.child10{
    height: 100px;
	width: 300px;
	background-color: rgb(255 255 255);
	margin: 10px;

}
.important2{
   display: flex;
   box-sizing: border-box;
}
.key{
   height: 50px;
   width: 50px;
   background-color: rgb(235 235 236);
   border-radius: 50%;
   position: relative;
   margin-left: 25px;
   margin-top: 10px;

}
.key .key2{
	color: rgb(164 165 165);
	font-size: 7px;
	position: relative;
	margin-left: 60px;
	margin-top: -4px;
}
.important4{
	height: 250px;
	width: 900px;
	background-color: rgb(203 203 204);
	margin-top: 85px;
	margin-left: -600px;
	box-sizing: border-box;
}
.child11{
	margin-left: 60px;
	padding-top: 70px;
	color: rgb(246 246 247);
}
.child11 .yu{
	background-color: yellow;
	border-radius: 30px;
	padding-left: 2px;
	padding-right: 2px;
}
.oo{
	height: 3px;
	width:100px;
	color: red;
}
.important5{
	margin-right: 550px;
	margin-left: -100px;
}
.child12{
	height: 4px;
	width: 150px;
	background-color: red;
	margin-right: 550px;
	margin-left: -130px;
}
.child13{
	height: 190px;
	width: 300px;
	background-color: rgb(235 235 236);
	margin:10px;
	box-sizing: border-box;
}
.important7{
    margin-left: -590px;
    display: flex;
}
.child14{
	height: 60px;
	width: 60px;
	background-color: red;
	border-radius: 5%;
	margin-top: 108px;
	box-sizing: border-box;
	color: white;
	padding-left: 3px;

}
.child15{
	height:140px;
	width: 280px;
	background-color: white;
	margin:15px;
	box-sizing: border-box;
}
.important8{
    margin-left: -595px;
    margin-top: -20px;
    display: flex;
}
.child16{

	padding-top: 20px;
}
.child17{
	font-size: 10px;
	color: rgb(203 203 204);
	margin-top: -10px;
}
.button7{
	background-color: rgb(255 255 255);
	border-radius: 30px;
	margin-left: 10px;
}
.important9{
	height: 250px;
	width: 900px;
	background-color: rgb(34 33 34);
	box-sizing: border-box;
}
.important9{
	height: 290px;
	width: 1200px;
	background-color: rgb(34 33 34);
	margin-top: 30px;
	margin-left: -680px;
}
.child20{
	color: white;
}
.email{
	background-color: rgb(34 33 34);
	font-size: 15px;
	margin-left: 12px;
	height: 20px;
	width: 200px;
	margin-top: 20px;
}
.email1{
	height: 28px;
	width: 30px;
	/*border-radius: 10px;*/
	background-color: red;
	box-sizing: border-box;
	margin-top: 20px;
}
.child21{
	display: flex;
	margin-left: 20px;
}
.child24{
	font-size: 7px;
	color: rgb(100 100 99);
}
.child25{
	color: rgb(100 100 99);

}
.ron1{
	font-size: 7px;
	color: rgb(100 100 99);


}
.child26{
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin:30px;

}
.child25{
	color: white;

}
.new{
	color: rgb(100 100 99);
	font-size: 7px;
}
.new2{
	font-size: 20px;
	position: relative;
	margin-left: 640px;
	margin-top: -25px;
}
.new3{
	color: rgb(100 100 99);
	margin-top: -5px;
	box-sizing: border-box;

}
.new4{
	color: yellow;
	position:relative;
	margin-top: -22px;
	margin-left: 40px;
	margin-bottom: -10px;
}
.new5{
	position: relative;
	margin-left: 80px;
	margin-top: -22px;
	color: white;
}
.just{
	margin-top: -105px;
	margin-left: 20px;
}
.just1{
	color: rgb(232 76 59);
	position: relative;
	margin-top: -15px;
	margin-left: 27px;
}
.b1{
	background-color: rgb(255 255 255);
	border-radius: 30px;
	margin-left: 20px;
	position: relative;
	margin-top: 150px;
}
.mug{
	margin-top: -70px;
	margin-left: 130px;
}
.mug2{
	margin-top: -20px;
}
.khul{
	margin-top: -70px;
}