body{
	padding: 0;
	margin: 0;
	background-color: 
}
nav{
	align-items: center;
	display: flex;
	justify-content: space-between;
	background-color: black;
	
   }

li{
	list-style: none;
}
a{
	text-decoration: none;
	color: white;

}
img{
	max-height: 70px;
}
ul{
	padding: 0;
	margin: 0;

}






